{% extends "base.html" %}
{% load static menu_tags %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="header_section">
    {% include 'inc/_header.html' %}
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img src="{% static 'images/banner-img.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">coffee</h1>
                                    <h5 class="tasty_text">Tasty Of DozeCafe</h5>
                                    <p class="banner_text">more-or-less normal distribution of letters, as opposed to
                                        using </p>
                                    <div class="btn_main">
                                        <div class="about_bt"><a href="{% url 'about' %}">About Us</a></div>
                                        <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img src="{% static 'images/banner-img.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">coffee</h1>
                                    <h5 class="tasty_text">Tasty Of DozeCafe</h5>
                                    <p class="banner_text">more-or-less normal distribution of letters, as opposed to
                                        using </p>
                                    <div class="btn_main">
                                        <div class="about_bt"><a href="#">About Us</a></div>
                                        <div class="callnow_bt"><a href="#">Call Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img src="{% static 'images/banner-img.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">coffee</h1>
                                    <h5 class="tasty_text">Tasty Of DozeCafe</h5>
                                    <p class="banner_text">more-or-less normal distribution of letters, as opposed to
                                        using </p>
                                    <div class="btn_main">
                                        <div class="about_bt"><a href="#">About Us</a></div>
                                        <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
<!-- coffee section start -->
<div class="coffee_section layout_padding">
    <div class="container">
        <div class="row">
            <h1 class="coffee_taital">OUR Coffee OFFER</h1>
            <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
        </div>
    </div>
    <div class="coffee_section_2">
        {% include "inc/_cofe.html" %}

    </div>
</div>
<!-- coffee section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">What syas customers</h1>
                <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
        </div>
        <div class="client_section_2">
            {% for comment in comments %}
            <div class="client_taital_main">
                <div class="client_left">
                    <div class="client_img"><img src="{{ comment.image.url}}"></div>
                </div>
                <div class="client_right">
                    <h3 class="moark_text">{{ comment.name }}</h3>
                    <p class="client_text">{{ comment.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- client section end -->


{% endblock %}